/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: menupopup ::::: */

menupopup,
panel {
  -moz-appearance: menupopup;
  border: 2px solid;
  -moz-border-top-colors: grey ThreeDHighlight;
  -moz-border-left-colors: grey ThreeDHighlight;
  -moz-border-right-colors: black ThreeDShadow;
  -moz-border-bottom-colors: black ThreeDShadow;
  padding: 1px;
  background-color: Menu;
  min-width: 1px;
  color:MenuText;
}

menupopup > menu > menupopup {
  /* align submenus in popups */
  -moz-margin-start: 2px;
  margin-top: 1px;
}

menubar > menu > menupopup {
  /* align submenus in menubar */
  -moz-margin-start: -4px;
  margin-top: -1px;
}

panel[type="arrow"] {
  -moz-appearance: none;
  background: transparent;
  border: none;
  -moz-transition: opacity 300ms;
}

panel[type="arrow"][side="top"],
panel[type="arrow"][side="bottom"] {
  margin-left: -23px;
  margin-right: -23px;
}

panel[type="arrow"][side="left"],
panel[type="arrow"][side="right"] {
  margin-top: -23px;
  margin-bottom: -23px;
}

.panel-arrowcontent {
  border-radius: 6px;
  padding: 10px;
  color: -moz-DialogText;
  background: -moz-Dialog;
  border: 1px solid ThreeDShadow;
}

.panel-arrow[side="top"],
.panel-arrow[side="bottom"] {
  list-style-image: url("chrome://global/skin/arrow/panelarrow-vertical.svg");
  position: relative;
  margin-left: 6px;
  margin-right: 6px;
}

.panel-arrow[side="top"] {
  margin-bottom: -1px;
}

.panel-arrow[side="bottom"] {
  -moz-transform: scaleY(-1);
  margin-top: -1px;
}

.panel-arrow[side="left"],
.panel-arrow[side="right"] {
  list-style-image: url("chrome://global/skin/arrow/panelarrow-horizontal.svg");
  position: relative;
  margin-top: 6px;
  margin-bottom: 6px;
}

.panel-arrow[side="left"] {
  margin-right: -1px;
}

.panel-arrow[side="right"] {
  -moz-transform: scaleX(-1);
  margin-left: -1px;
}

/* ::::: tooltip ::::: */

tooltip {
  -moz-appearance: tooltip;
  margin-top: 21px;
  border: 1px solid InfoText;
  padding: 2px 3px;
  max-width: 40em;
  background-color: InfoBackground;
  color: InfoText;
  font: message-box;
}

tooltip[titletip="true"] {
 /* See bug 32157 comment 128
  * margin: -2px 0px 0px -3px;
  */
  max-width: none;
}

/* rules for popups associated with menulists */

menulist > menupopup,
.menulist-menupopup {
  -moz-appearance: none;
  border-width: 1px;
  -moz-border-top-colors: -moz-FieldText;
  -moz-border-right-colors: -moz-FieldText;
  -moz-border-bottom-colors: -moz-FieldText;
  -moz-border-left-colors: -moz-FieldText;
  padding: 0px;
  min-width: 0px;
  background-color: -moz-Field;
}

